html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  background: #12343F !important;
  z-index: -1;
    /* overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0; */
  scroll-behavior: smooth;
}
/* 
#__next > div > div > div > span, #__next > div:nth-child(5) > div > div > div > div > span{
  display: inline !important;
} */


// Fix Next.js images
/* #__next > div:nth-child(8) > div.chakra-stack.css-rekqn0 > div:nth-child(1) > div:nth-child(1) > div > span {
  display: block !important;
} */


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: var(--chakra-colors-brand-400);
}
::-webkit-selection {
  color: white;
  background: var(--chakra-colors-brand-400);
}
::selection {
  color: white;
  background: var(--chakra-colors-brand-400);
}
